.estop__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--color-footer);
}

.estop__footer-heading {
  width: 100%;
  text-align: center;

  margin-bottom: 3rem;
}

.estop__footer-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04em;
}

.estop__footer-btn {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #fff;
  text-align: center;

  margin-bottom: 10rem;
  cursor: pointer;
}

.estop__footer-btn p {
  font-family: var(--font-family);
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
  column-rule: #fff;

  word-spacing: 2px;
}

.estop__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;

  width: 100%;
  text-align: left;
}

.estop__footer-links div {
  width: 250px;
  margin: rem;
}

.estop__footer-links-logo {
  display: flex;
  flex-direction: column;
}

.estop__footer-links-logo img {
  width: 100px;
  height: 100px;

  margin-bottom: 1rem;
}

.estop__footer-links-logo p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.estop__footer-links-div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.estop__footer-links-div h4 {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 16px;
  color: #fff;

  margin-bottom: 1rem;
}

.estop__footer-links-div p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: #fff;

  margin: 0.5rem 0;
  cursor: pointer;
}

.estop__footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.estop__footer-copyright p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

@media screen and (max-width: 850px) {
  .estop__footer-heading h1 {
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .estop__footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }

  .estop__footer-links div {
    margin: 1rem 0;
  }

  .estop__footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .estop__footer-heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
}
